<div class="bg-dark text-light pt-5">
    <div class="row mx-2">
        <div class="col-lg-3">
            <h3 style="overflow-y: hidden;">ProBuy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum temporibus natus quas, officiis placeat debitis!</p>
            <p>Code licensed MIT, DOCS cc by 3.0.</p>
            <p>Currently v5.3.2</p>
        </div>
        <div class="col-lg-3">
            <h3 style="overflow-y: hidden;">Help</h3>
            <div class="d-flex flex-column">
                <a routerLink="#" class="text-light" style="text-decoration: none;">Home</a>
                <a routerLink="/user/wishlist" class="text-light" style="text-decoration: none;">Wishlist</a>
                <a routerLink="/user/cart" class="text-light" style="text-decoration: none;">Cart</a>
            </div>
        </div>
        <div class="col-lg-3">
            <h3 style="overflow-y: hidden;">Registered Address</h3>
            <p>Thamarassery</p>
            <p>Thrikkakara P O</p>
            <p>Kakkanad</p>
        </div>
        <div class="col-lg-3">
            <h3 style="overflow-y: hidden;">Contact us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum temporibus natus quas, officiis placeat debitis!</p>
            <p>Code licensed MIT, DOCS cc by 3.0.</p>
            <p>Currently v5.3.2</p>
        </div>
    </div>
    <div class="row">
        <p class="text-center">All Rights reserved ProBuy 2023</p>
    </div>
</div>