<div style="margin-top: 60px;">

    <div style="height: 90vh;" class="empty-wishlist mt-5 mb-5 d-flex justify-content-center align-items-center w-100 flex-column">
        <img src="https://www.zolut.com/img/wishlist_empty.png?1460902528" height="400px" alt="empty">
        <h3 class="text-danger fw-bolder">Your Wishlist is empty</h3>
        <button class="btn btn-success" style="overflow-y: hidden;" routerLink="">Add More Items</button>
    </div>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a routerLink="view/1"><img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-between">
                            <button class="btn"><i style="height: 40px;" class="fa-solid fa-heart text-danger fa-2x"></i></button>
                            <button class="btn"><i style="height: 40px;" class="fa-solid fa-cart-shopping text-success fa-2x"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>